nav {
    width: 100vw;
    background-color: #2d4db3;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: white;
}


a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 1s ease-out 100ms
}

a:hover {
    color: #77f2ff;

}

.current {
    color: white;
    font-weight: bolder;
}