body{
    background-color: #8d96b1;
}

.center-text {
    text-align: center;
    color: white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

li{
    list-style-type: none; 
    display: inline;
    
}

.image-divs {
    display: flex;
    text-align: center;
}

.image-tags {
    height: 75px;
    width: 75px;
    margin: 20px;
}